{% extends 'catalog/base.html' %}
{% block content %}
{% include 'catalog/navigation.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ product.name }}</h1>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit' class='btn btn-success'>Сохранить</button>
    <a href="{% url 'catalog:products_list' %}" class="btn btn-primary">Отменить</a>
</form>

    {% include 'catalog/foot.html' %}

<script src="/static/js/bootstrap.bundle.min.js"></script>
{% endblock %}